body {
    font-family: "Lato", sans-serif;
    color: #676858;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
	font-weight:600;
}

.text-thin {
    font-weight: 100;
	font-size:50px;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}
.sub-title{
	color:#2d3c49;
	font-weight:600;
}
.separator {
    height: 5px;
    background: #7d97ad;
    margin-top: 15px;
	margin-bottom: 15px;
}

